body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.container {
    max-width: max-content;
    margin: 0 auto;
}

.canvas-container {
    width: max-content;
    margin: 0 auto;
    background-color: greenyellow;
}

#oto {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: greenyellow;
    width: 700px;
    margin: 30px auto;

}